{%extends 'taskapp/base.html'%}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 table-responsive-sm">
            <br>
            <table class="table table-sm table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Cliente</th>
                        <th scope="col">Pendientes</th>
                        <th scope="col">Completadas</th>
                    </tr>
                </thead>
                <tbody>

                    {% for task in tasks %}
                    <tr>
                        <th> <a href='{% url "client_details" task.client.id %}'> {{task.client.name}}</a> </th>
                        <td>
                            {% if task.pending > 0 %}
                            <span class="badge bg-warning">{{task.pending}}</span>
                            {% else %}
                            <span class="badge bg-success">{{task.pending}}</span>
                            {% endif %}
                        </td>
                        <td><span class="badge bg-info">{{task.completed}}</span></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-1"></div>
    </div>
</div>


{%endblock%}