{%extends 'taskapp/base.html'%}
{%block content%}
<br>
<br>
<div class="container">
    <div class="row">

        <div class="col-1"></div>
        <div class="col-10">
            {% if error %}
            <div class="alert alert-warning" role="alert">
                {{error}}
            </div>
            <br>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-sm">Registrarse </button>
            </form>
        </div>
        <div class="col-1"></div>
    </div>
</div>
{% endblock %}